<!doctype html> <html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" >
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" >
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <linl rel="stylesheet" >
    <link rel="stylesheet" href="css/layout.css" >
    <link rel="stylesheet" href="css/login.css" >
    <script src="js/angular.min.js"></script>
    <script src="db/Students.js"></script>
    <title>Đăng ký</title>
  </head>
  <body class="cl">
    <div class="container"ng-app="myapp" ng-controller="myctrl" >
        <header class="row">    
          <div class="col-md-12">
            <img src="images/banner.png" width="100%" />
          </div>   
        </header>
          <nav class="navbar navbar-expand-sm navbar-light bg-light">
            <a class="navbar-brand" href="index.html"><i class="fa fa-home"></i>&nbsp;FPT PolyTechnic</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="GT.html"><i class="fab fa-discord"></i>&nbsp;Giới Thiệu<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="LH.html"><i class="fas fa-address-card"></i>&nbsp;Liên Hệ<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="gopy.html"><i class="far fa-comments"></i>&nbsp;Góp Ý<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="HD.html"><i class="fas fa-question"></i>&nbsp;Hỏi Đáp<span class="sr-only">(current)</span></a>
                    </li>
                    
                    
                </ul>
                <ul class="navbar-nav nav ml-auto" >
                    <li class="nav-item dropdown" >
                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                      data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <font color ="black" class="tk">Tài khoản</font> 
                      <style>
                       .tk{
                        background:
               url("images/bg13_zps2612a7c5.gif") repeat scroll 0 0%,
               url("images/bg4_zps012f7fcf.gif") repeat scroll 0 0%,
               url("images/bg5_zps9146c4c3.gif") repeat scroll 0 0;
             color: white;
           font-weight: bold;
           text-shadow: 1px 1px 0 #FF0000, 1px 2px 0 #000000, 1px 1px 6px #8B0000, 1px 1px 9px #FF0000
                       }
                     </style>
                     </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="login.html"></i><i class="fas fa-sign-in-alt"></i>&nbsp;Đăng nhập</a>
                      <a class="dropdown-item" href="Dangki.html"><i class="fas fa-user-tie"></i>&nbsp;Đăng ký thành viên</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="index.html"><i class="fas fa-sign-out-alt"></i>&nbsp;Đăng xuất</a>
                      <a class="dropdown-item" href="doipass.html"><i class="fas fa-key"></i>&nbsp;Đổi mật khẩu</a>
                      <a class="dropdown-item" href="capnhat.html"><i class="far fa-address-card"></i>&nbsp;Cập nhật hồ sơ</a>
                   
                    </div>
                  </li>
             </ul>
                   
                    
                </form>
            </div>
        </nav>  
        <div class="row">
        
          <article class="col-md-9" style="background-color: deepskyblue;">
            <div class="container" ng-controller="myctrl1"> 
                <div class="row" style="width: 90%">
                  <div class="col-lg-10 col-xl-9 mx-auto">
                    <div class="card card-signin flex-row my-5" style="margin-right: -80px; margin-left: 70px;">
                      <div class="card-img-left d-none d-md-flex">
                         <!-- Background image for card set in CSS! -->
                      </div>
                      <div class="card-body" >
                        <h5 class="card-title text-center">Register</h5>
                        <form class="form-signin" style="margin-left: 50px;">
                          <div class="form-label-group" style="width: 90%;">
                            <input type="text" id="inputUserame" class="form-control" ng-model="student.username"   pattern="[A-Za-z,0-9]{3,}"
                            title="Phải từ 3 kí tự trở lên"
                            placeholder="Username" required autofocus>
                            <label for="inputUserame">Tên Đăng Nhập</label>
                          </div>
            
                          <div class="form-label-group">
                            <input type="password" id="inputPassword" class="form-control" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                            title="Phải chứa ít nhất một số và một chữ hoa và chữ thường và ít nhất 8 ký tự trở lên"
                             ng-model="student.password"  placeholder="Password" required>
                            <label for="inputPassword">Mật Khẩu</label>
                          </div>
                          
                          <div class="form-label-group">
                            <input type="text" id="inputConfirmPassword" pattern="[A-Za-z]{3}"
                            title="Phải từ 3 kí tự trở lên"
                            ng-model="student.fullname" class="form-control" placeholder="Fullname" required>
                            <label for="inputConfirmPassword">Họ Và Tên</label>
                          </div>
                          <div class="form-label-group">
                            <input type="email" id="inputEmail" ng-model="student.email"  class="form-control" ng-model="student.password" placeholder="Email address" required>
                            <label for="inputEmail">Địa chỉ Email</label>
                          </div>
                          
                          <div class="form-label-group">
                            
                            <input type="date" class="form-control" name="Date" ng-model="student.birthday" placeholder="Birthday" >       
                          </div>
                          
                           <label>Giới Tính:</label>
                              <input  ng-checked="true" type="radio" name="sex"  ng-model="student.gender"  value="true"  />Nam 
                              <input type="radio" name="sex"  ng-model="student.gender" value="false" />Nữ
                          
                         
            
                          <button class="btn btn-lg btn-primary btn-block text-uppercase"
                           type="submit"  style="width: 90%;" ng-click="insert()" ng-show="index ==-1">Register</button>
                          <a class="d-block text-center  mt-2" style="margin-left: -10%;" href="login.html"  >Sign In</a>
                          
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
          
          </article>
        <aside class="col-md-3 " >
            <div class="card">
              <div class="card-header" data-toggle="collapse" href="#collapseExample1" role="button"
              aria-expanded="false" aria-controls="collapseExample">
              <i class="fas fa-list " ></i> <a class="rainbow">DANH MỤC MÔN HỌC     </a>  
              <style>
                .rainbow{
                 background:
     
     url("images/bg4_zps012f7fcf.gif") repeat scroll 0 0%,
     url("images/bg5_zps9146c4c3.gif") repeat scroll 0 0;
                }
              </style>  
              </div>
              <div class="collapse" id="collapseExample1">
                <div class="list-group">
                  <li class="list-group-item" ><a href="tracnghiem.html">Lập trình Android nâng cao</a></li>
                  <li class="list-group-item" ng-repeat="x in subjects">{{x.Name}}</li>
    
                </div>
              </div>
            </div>
          </aside>
          </div>
          <div class="panel panel-default" ng-controller="myctrl2">
            <div class="panel-heading" style="text-align: center;">
                DANH SÁCH Học Viên
            </div>
            <table class="table table-bordered table-condense">
                <thead >
                    <tr >
                        <th>Username</th>
                        <th>Password</th>
                        <th>Fullname</th>
                        <th>Email</th>
                        <th>Gender</th>
                        <th>Date of Birth</th>         
                        
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="(key,value) in $parent.students">
                        <td>{{value.username}}</td>
                        <td>{{value.password}}</td>
                        <td>{{value.fullname}}</td>
                        <td>{{value.email}}</td>
                        <td>{{value.gender}}</td>
                        <td>{{value.birthday | date:'dd/MM/yyyy'}}</td>
                              
                    </tr>
                </tbody>
            </table>
        </div>
          <script>
            var app = angular.module('myapp', []);
            app.controller('myctrl', function ($scope, $http) {
              $http.get('db/Students.js').then(function (response) {
                $scope.students = response.data;
               
              });
              $scope.subjects = [];
              $http.get('db/Subjects.js').then(function (response) {
                $scope.subjects = response.data;
              }, function (response) {
                alert("lỗi");
              });
              
              // THÊM THÔNG TIN
              $scope.student ={};
          $scope.students=[];
          $scope.index=-1;
            });
            app.controller("myctrl1", function($scope){
          $scope.insert =function(){
            $scope.$parent.students.push($scope.$parent.student);
            
          }
              });
              app.controller("myctrl2", function($scope){
          $scope.$parent.students = [];
          
            });
          </script>
    
    
  </body>
</html>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" ></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>